<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.commodity.yzrsc">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 往SDCard写入数据权限,将更新的APK临时存在SD卡里 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- Optional for location -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 融云 -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /> <!-- 获取联系人信息，demo中演示发送通讯录消息 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- ⼩米 配置开始 < -->
    <permission
        android:name="com.commodity.yzrsc.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.commodity.yzrsc.permission.MIPUSH_RECEIVE" /> <!-- ⼩米 配置结束 < -->
    <!-- GCM 配置开始 < -->
    <permission
        android:name="com.commodity.yzrsc.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.commodity.yzrsc.permission.C2D_MESSAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        tools:replace="android:theme">
        <activity android:name=".ui.activity.friend.PayMoneNumActivity"></activity>
        <activity android:name=".ui.activity.friend.MyDynamicActivity" />
        <activity android:name=".ui.activity.friend.OtherDynamicActivity" />
        <activity
            android:name=".ui.activity.friend.VideoDynamicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.friend.PicDynamicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 友盟key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58eb44542ae85b6eb4001039" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" /> <!-- 主界面框架界面activity -->
        <activity
            android:name=".ui.activity.HomeFragmentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden" /> <!-- 测试activity -->
        <activity
            android:name=".ui.activity.CeshiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 测试activity -->
        <activity
            android:name=".ui.demo.SqlLiteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 登录界面 activity -->
        <activity
            android:name=".ui.activity.user.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 注册界面 activity -->
        <activity
            android:name=".ui.activity.user.RegistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 分类界面 activity -->
        <activity
            android:name=".ui.activity.classify.TypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 分类界面 activity -->
        <activity
            android:name=".ui.activity.store.AlertUploadGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 认证 activity -->
        <activity
            android:name=".ui.activity.AuthenticationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 店铺信息 -->
        <activity
            android:name=".ui.activity.store.StoreSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 店铺名称 -->
        <activity
            android:name=".ui.activity.store.SettingShopName"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 店铺合作 -->
        <activity
            android:name=".ui.activity.store.ShopFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 修改 -->
        <activity
            android:name=".ui.activity.store.AlterOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 店铺合作 -->
        <activity
            android:name=".ui.activity.store.ProviewGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 已提交材料 -->
        <activity
            android:name=".ui.activity.store.YiTijiaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 认证 -->
        <activity
            android:name=".ui.activity.store.RenzhengActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 大图片 -->
        <activity
            android:name=".ui.activity.general.BigPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 上传宝贝 -->
        <activity
            android:name=".ui.activity.store.UploadBaBy"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 买家留言 -->
        <activity
            android:name=".ui.activity.personalcenter.BuyBackDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 个人信心 -->
        <activity
            android:name=".ui.activity.personalcenter.MineInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 销售管理 -->
        <activity
            android:name=".ui.activity.personalcenter.XiaoShouActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 商品详情 -->
        <activity
            android:name=".ui.activity.commodity.CommodityDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 转售订单管理 -->
        <activity
            android:name=".ui.activity.personalcenter.ZhuanShouActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 退货退款详情 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.BackDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 店铺预览 -->
        <activity
            android:name=".ui.activity.store.StoreProviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 卖家评价详情 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.SellerPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 卖家退货详情 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.BackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 转售订单管理详情 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.ZhuanShouMDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 我的订单 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.MyOrdeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 待付款订单详情 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.DaiPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 支付 -->
        <activity
            android:name=".ui.pay.PayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 待发货订单详情 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.DaiSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 待已货订单详情 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.YiSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 交易成功订单详情 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.JiaoYiSuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 退款订单详情 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.BackGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 评价 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.PingJiaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 申请退款 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.BackMoneyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 销售代付款 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.XiaoDaiPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 销售待发货 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.XiaoDaiSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 销售已发货 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.XiaoYiSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 销售完成 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.XiaoJiaoYiSuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 我的钱包 -->
        <activity
            android:name=".ui.activity.personalcenter.money.MyMoneyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 提现 -->
        <activity
            android:name=".ui.activity.personalcenter.money.TixianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 提现管理 -->
        <activity
            android:name=".ui.activity.personalcenter.money.TixianManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 提现记录 -->
        <activity
            android:name=".ui.activity.personalcenter.money.TixianJiluActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 提现记录 -->
        <activity
            android:name=".ui.activity.personalcenter.money.MoneyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 提现详情 -->
        <activity
            android:name=".ui.activity.personalcenter.money.TixianDetaillActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 编辑银行卡 -->
        <activity
            android:name=".ui.activity.personalcenter.money.EditCard"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 添加银行卡 -->
        <activity
            android:name=".ui.activity.personalcenter.money.AddCard"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 接受验证码，确认提现 -->
        <activity
            android:name=".ui.activity.personalcenter.money.ConfirmTixianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 订单详情 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.OrdeDetallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 查看物流 -->
        <activity
            android:name=".ui.activity.personalcenter.SeeWuliu"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 搜索 -->
        <activity
            android:name=".ui.activity.classify.MSerachActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 确认订单 -->
        <activity
            android:name=".ui.activity.commodity.CommodityOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 提交订单 -->
        <activity
            android:name=".ui.activity.personalcenter.orde.sellerTijiaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 销售订单发货 -->
        <activity
            android:name=".ui.activity.personalcenter.XiaosouSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 引导页 -->
        <activity
            android:name=".ui.activity.GuideShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 分类 -->
        <activity
            android:name=".ui.activity.store.GoodsTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 修改手机号 -->
        <activity
            android:name=".ui.activity.personalcenter.AlertPhone"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 修改手机号 -->
        <activity
            android:name=".ui.activity.personalcenter.InputPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 找回密码 -->
        <activity
            android:name=".ui.activity.user.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 我的收藏 -->
        <activity
            android:name=".ui.activity.user.MyCartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 我的购物车 -->
        <activity
            android:name=".ui.activity.user.MyFavoriteCommodActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 使用帮助 -->
        <activity
            android:name=".ui.activity.user.UseHelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 使用帮助的几个通用的详情界面 -->
        <activity
            android:name=".ui.activity.user.UseHelpDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 消息管理 -->
        <activity
            android:name=".ui.activity.user.MessageManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 提现成功 -->
        <activity
            android:name=".ui.activity.personalcenter.money.Tixiansuccess"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 系统设置 -->
        <activity
            android:name=".ui.activity.user.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 添加收货地址 -->
        <activity
            android:name=".ui.activity.commodity.AddUserAdressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 修改密码 -->
        <activity
            android:name=".ui.activity.commodity.OrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 下单 -->
        <activity
            android:name=".ui.activity.user.ChangePwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 联系人 -->
        <activity
            android:name=".ui.activity.user.ContactPersonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" /> <!-- 系统通知 -->
        <activity
            android:name=".ui.activity.user.SystemNoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 关注 -->
        <activity
            android:name=".ui.activity.user.FocusOnActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 收货地址列表 -->
        <activity
            android:name=".ui.activity.user.UserAdressListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 评论 -->
        <activity
            android:name=".ui.activity.user.CommentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 播放视频 -->
        <activity
            android:name="fm.jiecao.jcvideoplayer_lib.FullScreenActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" /> <!-- 播放视频 -->
        <activity
            android:name="fm.jiecao.jcvideoplayer_lib.JCVideoPalyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 图片选择 -->
        <activity
            android:name=".ui.activity.general.PhotoSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 上传宝贝商品 -->
        <activity
            android:name=".ui.activity.store.UploadGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 短视频录制 -->
        <activity
            android:name=".ui.activity.shortvideo.VideoRecorderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 通用显示webview -->
        <activity
            android:name=".ui.activity.general.GeneralWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 通用显示查看大图 -->
        <activity
            android:name=".ui.activity.general.PicShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/My.Translucent" /> <!-- 微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 微博 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" /> <!-- qq完整 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" /> <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" /> <!-- 微信支付 -->
        <!--
<activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="KEYdEJpuzwPY4ej1vZQ" />
            </intent-filter>
        </activity>
        -->
        <!-- 会话页面 -->
        <activity
            android:name=".rongyun.ui.activity.ConversationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.commodity.yzrsc"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- 监听网络变化 -->
        <receiver android:name=".boardcast.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>